<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta property="og:site_name" content="danzzapi.xyz/get-started" />
    <meta property="og:title" content="Get Started | Danzz Api" />
    <meta property="og:url" content="https://danzzapi.xyz/get-started" />
    <meta property="og:image" content="https://telegra.ph/file/72d45ec36061d47f2e83b.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="Danzz Coding" />
    <meta property="og:description" content="Get Started, free rest api bot whatsapp, whatsapp bot api" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Get Started, free rest api bot whatsapp, whatsapp bot api">
	<meta name="author" content="Danzz Coding">
	<meta name="keywords" content="Get Started, free rest api bot whatsapp, whatsapp bot api">
		
	<!-- ICON -->
	<link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap-icons.css">
	<link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/scroll.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/1.png">

	<link rel="canonical" href="/sign-up">

	<title>Get Started | Danzz Api</title>

	<link href="css/font.css?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

	<!-- Choose your prefered color scheme -->
	<!-- <link href="css/light.css" rel="stylesheet"> -->
	<!-- <link href="css/dark.css" rel="stylesheet"> -->

	<!-- BEGIN SETTINGS -->
	<!-- Remove this after purchasing -->
	<link class="js-stylesheet" href="css/style.css" rel="stylesheet">
	</head>
	<body>
			<main class="content">
				<div class="container-fluid p-0">

					<div class="row">
						<div class="col-md-10 col-xl-8 mx-auto">
							<h1 class="text-center"></h1>
							<p class="lead text-center mb-4"></p>
							
							<div class="text-center mt-4">
							<h1 class="h2">Get started</h1>
							<p class="lead">
								Get started by selecting your first plan.
							</p>
						</div>

							<div class="row justify-content-center mt-3 mb-2">
								<div class="col-auto">
									<nav class="nav btn-group">
									</nav>
								</div>
							</div>

							<div class="tab-content">
								<div class="tab-pane fade show active" id="monthly">
									<div class="row py-4">
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<div class="card-body d-flex flex-column">
													<div class="mb-4">
														<h5>VIP</h5>
														<span class="display-4"><sup>Rp.</sup>25</span>
														<span>/month</span>
													</div>
													<h5><b>Profit:</b></h5>
													<ul class="list-unstyled">
														<li class="mb-2">
															<div class="bx bx-check-circle"> Request Unlimited</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Custom API Key</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Limit Unlimited</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Premium&VIP Features</div>
														</li>
													</ul>
													<div class="mt-auto">
														<a href="https://wa.me/6289512545999?text=Permisi kak, saya mau order *VIP user* 1 bulan 25k." class="btn btn-lg btn-outline-primary">Order Now</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<div class="card-body d-flex flex-column">
													<div class="mb-4">
														<h5>Premium</h5>
														<span class="display-4"><sup>Rp.</sup>15</span>
														<span>/month</span>
													</div>
													<h5><b>Profit:</b></h5>
													<ul class="list-unstyled">
														<li class="mb-2">
															<div class="bx bx-check-circle"> Request 1000/day</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Custom API Key</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Limit 1000/day</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Premium Features</div>
														</li>
													</ul>
													<div class="mt-auto">
														<a href="https://wa.me/6289512545999?text=Permisi kak, saya mau order *premium user* 1 bulan 15k." class="btn btn-lg btn-outline-primary">Order Now</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<div class="card-body d-flex flex-column">
													<div class="mb-4">
														<h5>Free</h5>
														<span class="display-4"><sup>Rp.</sup>0</span>
														<span>/W expiry</span>
													</div>
													<h5><b>Profit:</b></h5>
													<ul class="list-unstyled">
														<li class="mb-2">
															<div class="bx bx-check-circle"> Request 100/day</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Limit 100/day</div>
														</li>
														<li class="mb-2">
															<div class="bx bx-check-circle"> Free Features</div>
														</li>
													</ul>
													<div class="mt-auto">
														<a href="/sign-up" class="btn btn-lg btn-outline-primary">Start Now</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
					</main>

			<!-- Footer -->
			<footer class="footer">
				<script type="text/javascript">
   				 var det = new Date();
    				var tahun = det.getFullYear();
    				year = tahun;
				</script>
				<div class="container-fluid">
					<div class="footer-wrap pd-20 mb-20 card-box">
					Copyright © <script>document.write(year);</script>
					<a href="https://youtube.com/c/DanzzCoding" target="_blank"
						>Danzz Coding</a
					>. All rights reserved.
				</div>
				</div>
			</footer>
			<!-- End Footer -->
				
			<!-- Back To Top -->
      	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      	  <!-- End Back To Top -->
      	
		</div>
	</div>
    <script src="js/scroll.js"></script>
    <script src="js/dash.js"></script>
	<script src="js/script.js"></script>
</body>
</html>