<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Danzz Api | Danzz Coding</title>
  <meta property="og:site_name" content="danzzapi.xyz" />
  <meta property="og:title" content="Danzz Api | Danzz Coding" />
  <meta property="og:url" content="https://danzzapi.xyz/" />
  <meta property="og:image" content="https://telegra.ph/file/72d45ec36061d47f2e83b.jpg" />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <meta property="og:image:alt" content="Danzz Coding" />
  <meta property="og:description" content="Confused where to look for a free WhatsApp bot api? Don't worry, we provide various free whatsapp bot api." />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Confused where to look for a free WhatsApp bot api? Don't worry, we provide various free whatsapp bot api.">
  <meta name="author" content="Danzz Coding">
  <meta name="keywords" content="My Rest API Project">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendors/aos/aos.css" rel="stylesheet">
  <link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendors/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendors/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendors/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendors/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/home.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="#">Danzz Api</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#" class="logo me-auto"><img src="img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="https://github.com/danzz-team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Menu</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="https://api-danzz.xyz">My Rest Api's 2</a></li>
              <li><a href="https://danzzcoding.my.id">My Website</a></li>
            </ul>
          </li>
          <li><a class="getstarted scrollto" href="/sign-in">Login</a></li>
          <li><a class="getstarted scrollto" href="/sign-up">Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Confused where to look for a free WhatsApp bot api?</h1>
          <h2>Don't worry, we provide various free whatsapp bot api.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="/get-started" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="img/background/rest-api.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Danzz Rest Api's is an API platform that provides various website/application features. simplifies every step of a request and streamlines collaboration so you can easily create and add better features to the systems you use—faster.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Buy and enjoy access to premium/vip now.</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Free Plan</h3>
              <h4><sup>Rp.</sup>0<span></span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Request: 100/day</li>
                <li><i class="bx bx-check"></i> Limit: 100/day</li>
                <li><i class="bx bx-check"></i> Free features</li>
              </ul>
              <a href="/sign-up" class="buy-btn">Get Started</a>
            </div>
          </div>
          
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Premium Plan</h3>
              <h4><sup>Rp.</sup>15<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Request: 1000/day</li>
                <li><i class="bx bx-check"></i> Custom apikey</li>
                <li><i class="bx bx-check"></i> Limit: 1000/day</li>
                <li><i class="bx bx-check"></i> Premium features</li>
              </ul>
              <a href="https://wa.me/6289512545999?text=Permisi kak, saya mau order *Premium user* 1 bulan 15k." class="buy-btn">Order Now</a>
            </div>
          </div>
          
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>VIP Plan</h3>
              <h4><sup>Rp.</sup>25<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Request: unlimited</li>
                <li><i class="bx bx-check"></i> Custom apikey</li>
                <li><i class="bx bx-check"></i> Limit: unlimited</li>
                <li><i class="bx bx-check"></i> VIP features</li>
              </ul>
              <a href="https://wa.me/6289512545999?text=Permisi kak, saya mau order *VIP user* 1 bulan 25k." class="buy-btn">Order Now</a>
            </div>
          </div>
          
        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>My name is Danzz, I am a UI/UX designer and Front End developer, from Bogor, West Java, Indonesian, and I am 16 years old, thanks.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Citeureup, Bogor, West Java 16810, Indonesian</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>danzzcoding@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Phone:</h4>
                <p>+62 895 1254 5999</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!8m2!3d-6.4881955!4d106.8814798!16s%2Fg%2F122vl3ml!3m5!1s0x2e69c0447d22db49:0x651c969efa22c86b!8m2!3d-6.4891312!4d106.8820884!16s%2Fg%2F11g6n_0cf8" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Information</h4>
            <p>
              Citeureup, Bogor<br>
              West Java 16810<br>
              Indonesian<br><br>
              <strong>Phone:</strong> +62 895 1254 5999<br>
              <strong>Email:</strong> danzzcoding@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Social Media</h4>
            <div class="social-links mt-3">
              <a href="https://www.instagram.com/danzzcoding" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.facebook.com/danzzcoding" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.youtube.com/c/DanzzCoding" class="youtube"><i class="bx bxl-youtube"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        Copyright &copy; 2022 <strong><span>Danzz Coding</span></strong>. All Rights Reserved.
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendors/aos/aos.js"></script>
  <script src="vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendors/glightbox/js/glightbox.min.js"></script>
  <script src="vendors/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendors/swiper/swiper-bundle.min.js"></script>
  <script src="vendors/waypoints/noframework.waypoints.js"></script>
  <script src="vendors/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/home.js"></script>

</body>

</html>
