<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Reset password danzz rest api">
	<meta name="author" content="Danzz Coding">
	<meta name="keywords" content="Reset password danzz rest api">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/1.png">

	<link rel="canonical" href="/reset-password-verify">

	<title>Reset Password Verify | Danzz Api</title>

	<link href="css/font.css?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

	<!-- Choose your prefered color scheme -->
	<!-- <link href="css/light.css" rel="stylesheet"> -->
	<!-- <link href="css/dark.css" rel="stylesheet"> -->

	<!-- BEGIN SETTINGS -->
	<!-- Remove this after purchasing -->
	<link class="js-stylesheet" href="css/style.css" rel="stylesheet">
	</head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
	<main class="d-flex w-100 h-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">Enter code to continue</h1>
							<p class="lead">
							</p>Your Code <b id="randomcode"></b>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<form action="/create-new-password">
										<div class="mb-3">
											<a href="https://wa.me/6289512545999?text=i not receiving code">Not receiving code?</a>
												<div>
											</div>
											<a href="/reset-password">Wrong email?</a>
											<input class="form-control form-control-lg" type="number" name="number" placeholder="Enter code" required>
										</div>
										<a href="/reset-password-verify">Resend code?</a>
										<div class="text-center mt-3">
											<button type="submit" class="btn btn-lg btn-primary">Continue</button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>
	<script>
		randomcodes = ["3391","9935","9271","9988","9908","6882","8246","9157","0936","6956","5293","9135","4156","8952","6109","8915","9085","8967","9221","8891","8814","7090"];
const codes = randomcodes[Math.floor(Math.random() * (randomcodes.length))]
document.getElementById("randomcode").textContent=codes
</script>
	<script src="js/main.js"></script>

</body>

</html>