<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta property="og:site_name" content="danzzapi.xyz/sign-up" />
    <meta property="og:title" content="Sign Up | Danzz Api" />
    <meta property="og:url" content="https://danzzapi.xyz/sign-up" />
    <meta property="og:image" content="https://telegra.ph/file/72d45ec36061d47f2e83b.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="Danzz Coding" />
    <meta property="og:description" content="Register, free rest api bot whatsapp, whatsapp bot api" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Register, free rest api bot whatsapp, whatsapp bot api">
	<meta name="author" content="Danzz Coding">
	<meta name="keywords" content="Register, free rest api bot whatsapp, whatsapp bot api">
		
	<!-- ICON -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/1.png">

	<link rel="canonical" href="/sign-up">

	<title>Sign Up | Danzz Api</title>

	<link href="css/font.css?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

	<!-- Choose your prefered color scheme -->
	<!-- <link href="css/light.css" rel="stylesheet"> -->
	<!-- <link href="css/dark.css" rel="stylesheet"> -->

	<!-- BEGIN SETTINGS -->
	<!-- Remove this after purchasing -->
	<link class="js-stylesheet" href="css/style.css" rel="stylesheet">
	</head>
	<body>
<main class="content">
				<div class="container-fluid p-0">

					<div class="row">
						<div class="col-md-10 col-xl-8 mx-auto">
							<h1 class="text-center"></h1>
							<p class="lead text-center mb-4"></p>
							
							<div class="text-center mt-4">
							<h1 class="h2">Get started</h1>
							<p class="lead">
								Register first to enjoy access to danzz api, make your WhatsApp bot more features.
							</p>
						</div>

							<div class="row justify-content-center mt-3 mb-2">
								<div class="col-auto">
									<nav class="nav btn-group">
									</nav>
								</div>
							</div>
						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<form action="/verify-account">
										<div class="mb-3">
											<label class="form-label">Email</label>
											<input class="form-control form-control-lg" type="text" name="email" placeholder="Enter your email" required>
										</div>
										<div class="mb-3">
											<label class="form-label">Username</label>
											<input class="form-control form-control-lg" type="username" name="username" placeholder="Create username" required>
										</div>
										<div class="mb-3">
											<label class="form-label">Password</label>
											<input class="form-control form-control-lg" type="password" name="password" placeholder="Create password" required>
										</div>
										<div class="mb-3">
											<label class="form-label">Password</label>
											<input class="form-control form-control-lg" type="password" name="password" placeholder="Confirm password" required>
										</div>
										<div class="g-recaptcha" data-sitekey="6Lf33xIjAAAAAGB79lNhYOYczae6XLGmn-rEE73A"></div>
										already have an account? <a href="/sign-in">sign in now</a>
										<div class="text-center mt-3">
											<button type="submit" class="btn btn-lg btn-primary">Sign up</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</main>
	<script src="js/main.js"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>